* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

a, a:hover {
   text-decoration: none;
}

body {
   background-color: black;
}   

.container{
   position: absolute;
   height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.card{
  display: flex;
  height: 450px;
  width: 350px;
  cursor: pointer;
  box-shadow: -1rem 0 3rem #000;
  margin-left: -50px;
  position: relative;
  left: 20px;
  border-radius: 10px;
  transition: 0.4s ease-out;
  background-image: radial-gradient(circle farthest-corner at 10% 20%,rgba(6,123,239,1) 14.2%, rgba(219, 115, 249, 1) 89.5%);
}

.card:not(:first-child){
   margin-left: -80px;
}

.card:hover{
   transform: translateY(-20px);
   transition: 0.4s ease-out;
   background-image: radial-gradient(circle 523px at 7.1% 19.3%, rgba(147, 15, 255, 1) 2%, rgba(5, 49, 255, 1) 100.7%);
}

.card:hover ~ .card{
   position: relative;
   left: 50px;
   transition: 0.4s ease-out;
}

.title {
   color: #fff;
   font-size: 20px;
   font-weight: 300;
   position: absolute;
   left: 20px;
   top: 15px;
}

.bar {
   position: absolute;
   top: 50px;
   left: 20px;
   height: 3px;
   width: 270px;
}

.emptybar {
   background-color: #2e3033;
   width: 75%;
   height: 100%;
}

.filledbar {
   position: absolute;
   top: 0px;
   z-index: 3;
   width: 0px;
   height: 100%;
   background: #06f745;
   transition: 0.4s ease-out;
}

.card:hover .filledbar{
    width: 150px;
    transition: 0.4s ease-out;
}

.profile-detail {
   width: 100%;
   position: absolute;
}

.profile-detail img {
   width: 100px;
   height: 100px;
   position: absolute;
   top: 68px;
   left: 20px;
   border-radius: 50%;
}

.profile-detail .name {
   font-size: 22px;
   font-weight: 700;
   position: absolute;
   top: 170px;
   left: 20px;
   color: #fff;
}

.profile-detail .post-title {
   position: absolute;
   top: 210px;
   left: 20px;
   color: #fff;
   font-size: 20px;
}

.profile-detail .post-description {
   position: absolute;
   top: 260px;
   left: 20px;
   color: #fff;
   font-size: 16px;
   padding-right: 60px;
}

.profile-detail .button {
   font-size: 10px;
   padding: 5px 0px;
   position: absolute;
   top: 400px;
   left: 20px;
   width: 135px;
   border: 1px solid #eef13b;
   color: #040404;
   text-align: center;
   border-radius: 20px;
   background-color: #eef13b;
   z-index: 10000;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.875rem 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins, sans-serif;
    z-index: 10000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.563rem;
    text-transform: uppercase;
    letter-spacing: 0.313rem;

}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li {
    list-style: none;
    margin-left: 1.25rem;
}

header ul li a {
     text-decoration: none;
     padding: 0.375rem 0.938rem;
     color: #fff;
     border-radius: 1.25rem;

}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}


