* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

body {
   background-color: black;
}   

.container {
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 100%;
}

.container span {
   text-transform: uppercase;
   display: block;
}

.text1 {
   color: white;
   font-size: 60px;
   font-weight: 700;
   letter-spacing: 8px;
   margin-bottom: 20px;
   background: black;
   position: relative;
   animation: text 3s 1;
}

.text2 {
   font-size: 18px;
   color: #6ab04c;

}
@keyframes text {
   0%{
      color: black;
      margin-bottom: -40px;
   }
   30%{
      letter-spacing: 9px;
      margin-bottom: -40px;
   }
   85%{
      letter-spacing: 8px;
      margin-bottom: -40px;
   }
}
header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vh;
   padding: 30px 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-family: Poppins, sans-serif;
   z-index: 10000;
}

header .logo {
   color: #fff;
   font-weight: 700;
   text-decoration: none;
   font-size: 25px;
   text-transform: uppercase;
   letter-spacing: 5px;

}

header ul{
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   left: 950px;

}

header ul li {
   list-style: none;
   margin-left: 20px;
}

header ul li a {
     text-decoration: none;
     padding: 6px 15px;
     color: #fff;
     border-radius: 20px;

}

header ul li a:hover,
header ul li a.active {
   background: #fff;
   color: #2b1055;
}