* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body {
   background-color: black;
}   

.Screen {
	background: url(./Images/1.gif);
	position: absolute;
	background-size: 100%;
    width: 900px;
    height: 650px;
    background-repeat: no-repeat;
	top: 150px;
	left: 270px;
	bottom: 0;
	right: 0;
	justify-content: center;
	display: block;
	text-align: center;
}

.Explain {
   color: white;
   font-family: "Poppins", sans-serif;
   font-size: 15px;
   letter-spacing: 1px;
   text-transform: uppercase;
   white-space: nowrap;
   position: absolute;
   top: 750px;
   left: 295px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.875rem 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins, sans-serif;
    z-index: 10000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.563rem;
    text-transform: uppercase;
    letter-spacing: 0.313rem;

}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li {
    list-style: none;
    margin-left: 1.25rem;
}

header ul li a {
     text-decoration: none;
     padding: 0.375rem 0.938rem;
     color: #fff;
     border-radius: 1.25rem;

}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}
