* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

body {
   background-color: black;
}   

.container {
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 100%;
}

.container span {
   text-transform: uppercase;
   display: block;
}

.text1 {
   color: white;
   font-size: 60px;
   font-weight: 700;
   letter-spacing: 8px;
   margin-bottom: 20px;
   background: black;
   position: relative;
   animation: text 3s 1;
}

.text2 {
   font-size: 18px;
   color: #6ab04c;
}

@keyframes text {
   0%{
      color: black;
      margin-bottom: -40px;
   }
   30%{
      letter-spacing: 23px;
      margin-bottom: -40px;
   }
   85%{
      letter-spacing: 8px;
      margin-bottom: -40px;
   }
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.875rem 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins, sans-serif;
    z-index: 10000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.563rem;
    text-transform: uppercase;
    letter-spacing: 0.313rem;

}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li {
    list-style: none;
    margin-left: 1.25rem;
}

header ul li a {
     text-decoration: none;
     padding: 0.375rem 0.938rem;
     color: #fff;
     border-radius: 1.25rem;

}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}